body {
	background-color: #F2F5F7;
	font-family: 'Montserrat', sans-serif;
    margin: 0 0 0 0;
}

.container-cabecalho {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.container-titulo {
    width: 60%;
}

.cabecalho-tituloPrincipal {
    /* top | right | bottom | left */
    font-size: 40px;
    margin: 8px 0 0 30px;
}
.cabecalho-tituloSecundario {
    font-size: 24px;
    margin: 4px 0 10px 30px;
}

.menu-navegacao {
    width: 40%;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cabecalhoPrincipal-nav {
    display: flex;
    flex-direction: row;
    text-align: center;  
}

.cabecalhoPrincipal-nav-link {
    font-size: 18px;
    padding : 0 10px 0 10px;
}

.body-top-container {
    display: flex;
    flex-direction: row;
    /* top | right | bottom | left */
    margin: 5px 0 5px 0;
}

.top-picture {
    width: 40%;
    height: 240px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.top-picture-image {
    width: 230px;
    height: 230px;
    align-items: center;
    padding-top: 5px;
}

.top-post {
    width: 60%;
    height: 240px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.top-post-title {
    font-weight: bold;
    padding-bottom: 5px;
}

.top-post-date {
    padding-bottom: 5px;
}

.top-post-text {
    padding-right: 50px;
}

.body-bottom-container {
    display: flex;
    flex-direction: row;
    /* top | right | bottom | left */
    margin: 5px 0 5px 0;
    padding-top: 8px;
}

.bottom-picture {
    width: 40%;
    height: 240px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.bottom-picture-image {
    width: 230px;
    height: 230px;
    align-items: center;
    padding-top: 5px;
}

.bottom-post {
    width: 60%;
    height: 240px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-post-title {
    font-weight: bold;
    padding-bottom: 5px;
}

.bottom-post-date {
    padding-bottom: 5px;
}

.bottom-post-text {
    padding-right: 50px;
}

.button-more {
    margin-top: 14px;
    background-color: black;
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 30%;
}